
<!DOCTYPE html>
<html>
<head>
  <title>The Academy — Thought</title>
</head>
<body style="background:black;color:white;text-align:center;font-family:Arial;">

<h2>Thinking is not reacting.</h2>

<p>
It is observing…<br>
comparing…<br>
questioning…<br><br>
before deciding what to do.
</p>


<script>
window.onload = () => {
  document.body.style.opacity = 1;
};

setTimeout(() => {
  
document.body.style.opacity = 0;
setTimeout(() => {
  window.location.href =
 "academy_individual.html";
}, 2000);
}, 7000);
</script>
</body>

</html>
